:root {
  --main-section-margin: 40px;
  --field-border-width: 2px;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  display: flex;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

body,
p {
  margin: 0;
  padding: 0;
}

.image-sidebar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url('img/ferns.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
}

.logo-container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.logo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background: rgb(0 0 0 /50%);
}

.logo-image {
  height: 80%;
  padding: 10px;
}

.logo-text {
  font-family: 'Norse', sans-serif;
  font-size: 5rem;
}

.background-image-credit-container {
  flex: 1.75;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.background-image-credit {
  font-family: sans-serif;
  margin: 10px;
}

.background-image-credit a {
  color: inherit;
}

.main-content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.header p {
  margin: 0px 0px 40px var(--main-section-margin);
  font-size: x-large;
  font-weight: normal;
  width: clamp(30ch, 60%, 53ch);
}

.form-row {
  display: flex;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 5px var(--main-section-margin);
}

.form-field label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.6rem;
  font-weight: bold;
}

.form-field input {
  border-radius: 4px;
  border: var(--field-border-width) solid #E5E7EB;
  padding: 0.25rem;
}

.form-field input:focus {
  border: var(--field-border-width) solid blue;
}

.form-field input:invalid {
  border: var(--field-border-width) solid red;
}

.error-message {
  display: none;
}

input:focus:invalid + .error-message {
  display: block;
}

.sign-up-form h2 {
  margin: 0px 0px 10px var(--main-section-margin);
}

.sign-up-form section {
  background-color: white;
  box-shadow: gray 0px 10px 0.5em;
  padding: 30px 0px;
  color: darkslategray;
}

.sign-up-form button {
  margin: 30px var(--main-section-margin);
  background-color: #596D48;
  color: white;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em 2em;
  border-radius: 10px;
  box-shadow: gray 1px 3px 0.5em;
}

.footer {
  height: 100%;
  margin: 0px 0px 0px var(--main-section-margin);
}
